 <head>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AlzaSyA7KaP_XxPlr2A2LuT_RKpyHfJBNb2Bd9Q&sensor=false&language=es"></script>  
<script type="text/javascript" src="/js/cargaMapa.js"></script>
<script type='text/javascript' src='http://es.calcuworld.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://es.calcuworld.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel="stylesheet" type="text/css" href="/styles/style_r.css">
<link rel="stylesheet" type="text/css" href="/styles/site_global.css">
<link rel="stylesheet" type="text/css" href="/styles/index.css">
<link rel="stylesheet" type="text/css" href="/styles/styles_calculadora.css">
 </head>
<body>
    <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u178-3-bw">
     <div class="clearfix pinned-colelem" id="u178-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="SlideShowWidget clearfix colelem" id="slideshowu224"><!-- none box -->
     <div class="popup_anchor" id="u233popup">
      <div class="SlideShowContentPanel clearfix" id="u233"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u234"><!-- image -->
        <img class="ImageInclude" id="u234_img" src="/images/city.png"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u228popup">
      <div class="SlideShowCaptionPanel clearfix" id="u228"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u229-6"><!-- content -->
        <p id="titser">Servicios Públicos de Luz y Agua</p>
        <p id="titser">de Tulancingo</p>
       </div>
      </div>
     </div>
    </div>
    <div class="browser_width" id="u75-3-bw">
     <div class="clearfix pinned-colelem" id="u75-3" ><!-- content -->
      <p>&nbsp;</p>
     </div>
    </div>
    <a class="nonblock nontext anim_swing clip_frame clearfix pinned-colelem" id="u76" href="#top"><!-- image --><div id="u76_clip"><img class="position_content" id="u76_img" src="/images/splat_logo.png" alt=""/></div></a>
    <div class="clearfix colelem" id="pu618-4" ><!-- group -->
     <a class="nonblock nontext anim_swing clearfix" id="u618-4" href="#top"><!-- content --><img src="/images/home.png" style="width:75px;"/></a>
     <a class="nonblock nontext anim_swing clearfix" id="u627-4" href="#info"><!-- content --><img src="/images/info.png" style="width:75px;"/></a>
     <a class="nonblock nontext anim_swing clearfix" id="u626-4" href="#calculadora"><!-- content --><img src="/images/calculadora.png" style="width:75px;"/></a>
     <a class="nonblock nontext anim_swing clearfix" id="u625-4" href="#reporte"><!-- content --><img src="/images/reportes.png" style="width:75px;"/></a>
    <p id="u624-4">BIENVENIDO(A):</p>
    <p id="u624-user">Karen</p>
    <p><a  href="/usuarios/index">Cerrar sesión</a></p>
    </div>
    <div class="clearfix colelem" id="pu324-3"><!-- group -->
     <div class="browser_width grpelem" id="u324-3-bw">
      <div class="clearfix" id="u324-3"><!-- content -->
       <p>&nbsp;</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u329-4"><!-- content -->
      <p>Nuestro objetivo</p>
     </div>
     <div class="rounded-corners grpelem" id="u327"><!-- custom html -->
     <img src="/images/objetivo.png" style="width:90px;margin-top:10px;margin-left:10px;"/>
</div>
     <div class="clearfix grpelem" id="u325-4"><!-- content -->
      <p>Brindar información sobre los servicios de luz y agua así como agilizar el proceso de realización de un reporte logrando que los usuarios tengan mayor conocimiento sobre estos.</p>
     </div>
     <div class="clearfix grpelem" id="u336-4"><!-- content -->
      <p>¿Quienes somos?</p>
     </div>
     <div class="rounded-corners grpelem" id="u337"><!-- custom html -->
     <img src="/images/somos.png" style="width:110px;"/>
</div>
     <div class="clearfix grpelem" id="u339-4"><!-- content -->
      <p>Somos estudiantes de la Universidad Tecnologíca de Tulancingo de la carrera de Tecnologias de la Información y la Comunicación.</p>
     </div>
     <div class="clearfix grpelem" id="u341-4"><!-- content -->
      <p>¿Por qué se creó?</p>
     </div>
     <div class="rounded-corners grpelem" id="u342"><!-- custom html -->
      <img src="/images/por.png" style="width:100px;"/>
</div>
     <div class="clearfix grpelem" id="u344-4"><!-- content -->
      <p>Fue creada para cubrir la falta de información de los procesos sobre los trámites que se pueden realizar en cuanto a los servicios de luz y agua, incluyendo el cobro del servicio de luz.</p>
     </div>
    </div>
       <div id="barra"></div>
    <div class="clearfix colelem" id="pu386"><!-- group -->
     <div class="browser_width grpelem" id="u386-bw">
      <div id="u386"><!-- group -->
       <div class="clearfix" id="u386_align_to_page">
        <div class="rounded-corners clip_frame grpelem" id="u387"><!-- image -->
         <img class="block" id="u387_img" src="/images/agua1.png" alt="" width="160" height="160"/>
        </div>
        <div class="clearfix grpelem" id="u396-10"><!-- content -->
        <p id="titInfo">AGUA</p>
         <p>Es el recurso más importante para la humanidad, es un bien transversal a todas las actividades sociales, económicas y ambientales.</p>
        </div>
           <div class="rounded-corners clip_frame grpelem" id="luz"><!-- image -->
         <img class="block" id="u387_img" src="/images/luz2.png" alt="" width="160" height="160"/>
        </div>
              <div class="clearfix grpelem" id="luz1"><!-- content -->
        <p id="titInfo">LUZ</p>
       <a name="info"> </a><p>La importancia de la luz para el hombre se manifiesta enel hecho de que todo organismo vivo se encuentrapreparado para desempeñarse correctamente durante las  horas del día.</p>
       </div>
       </div>
      </div>
    </div>
    </div>
      <div id="barra2"></div>
     <div id="informacion_contenedor"><!-- column -->
         <h2>INFORMACION</h2>
     </div> 
          <div class="browser_width colelem" id="u374-bw">
     <div id="u374"><!-- simple frame --></div>
    </div>
        <div id="calculadora_contenedor"><!-- column -->
        <a  name="calculadora"></a> 
            <div class="calcu">
      
        <div class="centerq">

   <script type="text/javascript" language="javascript" >
//<![CDATA[
jQuery(document).ready(function(){
                function calc_row(row){
                  //  row.find('.valor_w').val('hol');
                if (row.find('.potencia_input').val()=='') {
                    row.find('.potencia_input').val(row.find('.equipos_select').val());

                }
                
                var diario = ((row.find('.potencia_input').val()*row.find('.num_equipos_select').val()*row.find('.uso_select').val())/1000);

                row.find('.diarios').html(diario);
                row.find('.mensuales').html(Math.round(diario*30*100)/100);
                
                var total_diarios = 0;
                
                jQuery("#calc_table .diarios").each(function(){
                    total_diarios += parseFloat(jQuery(this).html());
                });
                
                var total_mensual = 0;
                
                jQuery("#calc_table .mensuales").each(function(){
                    total_mensual += parseFloat(jQuery(this).html());
                });
                
                jQuery(".total_diarios").html((Math.round(total_diarios*100)/100)+"kw");
                jQuery(".diario_pagar").html("$"+(total_diarios*0.79));
                jQuery(".total_mensuales").html(total_mensual+"kw");
                jQuery(".mensuales_pagar").html("$"+(total_mensual*0.79));
            }
            
            calc_row(jQuery("#calc_table tbody tr:first"));
            
            jQuery("#calc_table :input").live("change", function(){
                if(jQuery(this).hasClass("equipos_select")) {
                    jQuery(this).closest("tr").find(".potencia_input").val("");
                }
                calc_row(jQuery(this).closest("tr"));
            });
            
            jQuery("#add_equipment").click(function(){
                var row = jQuery("#calc_table tbody tr:first").clone();
                
                row.find(":input").each(function(){
                    jQuery(this).val("").prop("selectedIndex",0);
                });
                
                row.appendTo("#calc_table tbody");
                calc_row(row);

                return false;
            });
            
});
//]]>
</script>
<div class="titulo">
<h2>Calculadora</h2></div>
<div id="wellit" class="table-responsive" >

            <table id="calc_table" width="100%" class="tablt" >
                <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Nº de equipos</td>
                        <td>Potencia (WATTS * hr)</td>
                        <td>Horas de uso diario</td>
                        <td>KW/h día</td>
                        <td>KW/h mes</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>            <select class="equipos_select span3" style="width:200px;">
                <optgroup label="Cocina y Lavandero">
                    <option value="350">Nevera</option>
                    <option value="200">Congelador 200 litros (Bajo Consumo)</option>
                    <option value="4500">Cocina Eléctrica (4 quemadores)</option>
                    <option value="1200">Horno Eléctrico</option>
                    <option value="1200">Horno Microondas</option>
                    <option value="1000">Plancha</option>
                    <option value="300">Licuadora</option>
                    <option value="600">Cafetera Eléctrica</option>
                    <option value="500">Lavadora</option>                    
                    <option value="250">Secadora de ropa</option>                    
                </optgroup>
                <optgroup label="Sala, Habitaciones y Uso General">
                    <option value="100">Bombillas EXTERIORES</option>
                    <option value="40">Bombillas INTERIORES</option>
                    <option value="25">Bombillas de bajo consumo EXTERIORES</option>
                    <option value="15">Bombillas de bajo consumo INTERIORES</option>
                    <option value="200">Televisor de 20"</option>
                    <option value="820">Televisor de plasma de 42"</option>
                    <option value="1800">Aire acondicionado de 12000 BTU</option>
                    <option value="1500">Calentador de agua</option>
                    <option value="1200">Secador de pelo</option>                    
                    <option value="500">Ventilador</option>                    
                </optgroup>
                <optgroup label="Trabajo y Entretenimiento">
                    <option value="30">Teléfono inalámbrico</option>
                    <option value="200">Reproductor de DVDs</option>
                    <option value="350">Ordenador de sobremesa</option>
                    <option value="90">Ordenador portátil</option>
                    <option value="150">Impresora</option>
                    <option value="15">Router inalámbrico</option>
                    <option value="350">Máquina de coser</option>                 
                </optgroup>
            </select></td><br>
                        <td>            <select class="num_equipos_select span1">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select></td>
                        <td>            <input type="text" value="" style="width:50px;" readonly='readonly' class="potencia_input span1" /></td>
                        <td>            <select class="uso_select span1">
                <option value=".5">.5</option>  
                <option value=".10">.10</option>
                <option value=".15">.15</option> 
                <option value=".20">.20</option>  
                <option value=".25">.25</option>  
                <option value=".30">.30</option>  
                <option value=".35">.35</option>  
                <option value=".40">.40</option>  
                <option value=".45">.45</option>  
                <option value=".50">.50</option>  
                <option value=".55">.55</option>               
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>  
            </select></td>
                        <td class="diarios"></td>
                        <td class="mensuales"></td>
                        <td class="del_row"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td></td></tr>
                    
                    <tr><td></td>
                        </tr>
                     <tr> <td></td>
                       </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="1">Total consumo de la vivienda</td>

                        <td class="total_diarios"></td>
                        <td class="total_mensuales"></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                   <td colspan="1">Total aproximado a pagar</td>

                        <td class="diario_pagar"></td>
                        <td class="mensuales_pagar"></td>

                    </tr>
                    <tr>
                       <td>
    Costo de KW * hr:  $<input type="text" value="0.793" style="width:50px;" readonly='readonly' class="valor_w"/>
</td>
</tr>
                </tfoot>
            </table>
            <a href="#" id="add_equipment" class="botojjj"><i class="boton"><i> Agregar Equipo</a>
            
                <div id="push"></div>
    
      </div>
      </div>
      </div>
      </div>
          <div class="browser_width colelem" id="u374-bw">
     <div id="u374"><!-- simple frame --></div>
    </div><a  name="reporte"></a>
       <div id="reporte_contenedor"><!-- column -->
                <div id="form">
                 <br><br> <h3>Ingresa la informaci&oacute;n necesaria para realizar el reporte:</h3><br>
                <form action='/reporte/report' method='POST'>
                 <span id="use">Nombre o Usuario:
                   <input type="text" value="Karen" name="Reporte[usuario]"  id="users" required readonly="readonly"/>
                    </span><br>
                   <span>Categor&iacute;a:
                    <select id="categoria"  name="Reporte[categoria]"  onchange="load(this.value)">
                    <option value="">Seleccione una opción...</option>
                        <option value="Agua">Agua</option>
                        <option value="Luz">Luz</option>
                       </select></span>
                    <span>Problema:
                    <select id="problema" name="Reporte[problema]" >
                    <option>Seleccione una opción...</option>
                      </select></span>
                    <span id="col">Colonia:
                    <select id="Colonia" name="Reporte[colonia]" > 
                  <option>Seleccione una Opción...</option>
                 <option value="Acocul la Palma">Acocul la Palma</option>
 <option value="Alicia" >Alicia</option>
 <option value="Cebolletas" >Cebolletas</option>
 <option value="Cerro Napateco" >Cerro Napateco</option>
 <option value="Huapalcalco" >Huapalcalco</option>
<option value="Jaltepec" >Jaltepec</option>
 <option value="La Cruz" >La Cruz</option>
 <option value="La Lagunilla" >La Lagunilla</option>
 <option value="Santa Ana Hueytlalpan" >Santa Ana Hueytlalpan</option>
 <option value="San Nicolas el Chico" >San Nicolas el Chico</option>
 <option value="Santa Maria Asuncion" >Santa Maria Asuncion</option>
 <option value="Santa Maria el Chico" >Santa Maria el Chico</option>
 <option value="Tepalzingo" >Tepalzingo</option>
 <option value="Teteles" >Teteles</option>
 <option value="Zupitlan" >Zupitlan</option>
 <option value="Zapotlan de Allende" >Zapotlan de Allende</option>
 <option value=" 15 de Septiembre" >15 de Septiembre</option>
 <option value=" 20 de Noviembre" > 20 de Noviembre</option>
 <option value="Adolfo Ruiz Cortines" >Adolfo Ruiz Cortines</option>
 <option value="Ahuehuetitla" >Ahuehuetitla</option>
<option value= "Alamos" >Alamos</option>
<option value= "Arco Iris" >Arco Iris</option>
<option value= "Argentina" >Argentina</option>
<option value= "Asociacion de Desarrollo Rural de Hidalgo Ac" >Asociacion de Desarrollo Rural de Hidalgo Ac</option>
<option value= "Aurora" >Aurora</option>
<option value= "Benito Juarez" >Benito Juarez</option>
<option value= "Caltengo" >Caltengo</option>
<option value= "Centro" >Centro</option>
<option value= "De los Electricistas" >De los Electricistas</option>
<option value= "El Banco" >El Banco</option>
<option value= "Del Villar" >Del Villar</option>
<option value= "El Cerezo" >El Cerezo</option>
<option value= "El Mirador" >El Mirador</option>
<option value= "Emiliano Zapata" >Emiliano Zapata</option>
<option value= "Estrella" >Estrella</option>
<option value= "Esperanza" >Esperanza</option>
<option value= "Explanada de San Isidro" >Explanada de San Isidro</option>
<option value= "Felipe Angeles" >Felipe Angeles</option>
<option value= "Fidel Velazquez" >Fidel Velazquez</option>
<option value= "Francisco I Madero" >Francisco I Madero</option>
<option value= "Guadalupe" >Guadalupe</option>
<option value= "Guadalupe 3a Secc" >Guadalupe 3a Secc</option>
<option value= "Guadalupe 4a Secc" >Guadalupe 4a Secc</option>
<option value= "Guadalupe 2a Secc" >Guadalupe 2a Secc</option>
<option value= "Huapalcalco" >Huapalcalco</option>
<option value= "Infonavit" >Infonavit</option>
<option value= "Infonavit Napateco" >Infonavit Napateco</option>
<option value= "Industrial" >Industrial</option>
<option value= "Insurgentes" >Insurgentes</option>
<option value= "Jardines del Sur 5a Secc" >Jardines del Sur 5a Secc</option>
<option value= "Jardines de Napateco" >Jardines de Napateco</option>
<option value= "Jardines del Sur 3a Secc" >Jardines del Sur 3a Secc</option>
<option value= "Infonavit del Bosque" >Infonavit del Bosque</option>
<option value= "Jardines del Sur" >Jardines del Sur" </option>
<option value= "Jardines del Sur 2a Secc" >Jardines del Sur 2a Secc</option>
<option value= "Jardines del Sur 4a Secc" >Jardines del Sur 4a Secc</option>
<option value= "Jesus Monter" >Jesus Monter</option>
<option value= "La Cañada" >La Cañada</option>
<option value= "La Escondida" >La Escondida</option>
<option value= "La Cruz" >La Cruz</option>
<option value= "La Herradura" >La Herradura</option>
<option value= "La Morena" >La Morena</option>
<option value= "La Morena 2a Secc" >La Morena 2a Secc</option>
<option value= "La Morena 3a Secc" >La Morena 3a Secc</option>
<option value= "Las Arboledas" >Las Arboledas</option>
<option value= "Lindavista Sur" >Lindavista Sur</option>
<option value= "Loma Bonita" >Loma Bonita</option>
<option value= "Lomas de Progreso" >Lomas de Progreso</option>
<option value= "Los Ahuehuetes" >Los Ahuehuetes</option>
<option value= "Lopez Mateos" >Lopez Mateos</option>
<option value= "Los Cedros" >Los Cedros</option>
<option value= "Los Pinos" >Los Pinos</option>
<option value= "Magisterio" >Magisterio</option>
<option value= "Medias Tierras" >Medias Tierras</option>
<option value= "Metilatla" >Metilatla</option>
<option value= "Maria Isabel" >Maria Isabel</option>
<option value= "Moises Rivera" >Moises Rivera</option>
<option value= "Mimila" >Mimila</option>
<option value= "Nicolas Bravo" >Nicolas Bravo</option>
<option value= "Nueva Morelos" >Nueva Morelos</option>
<option value= "Obrera" >Obrera</option>
<option value= "Nueva Reforma" >Nueva Reforma</option>
<option value= "Nuevo Esmeralda" >Nuevo Esmeralda</option>
<option value= "Nueva Creacion" >Nueva Creacion</option>
<option value= "Nuevo Tulancingo" >Nuevo Tulancingo</option>
<option value= "Pedregal San Jose" >Pedregal San Jose</option>
<option value= "Paraiso" >Paraiso</option>
<option value= "Plan de Ayala" >Plan de Ayala</option>
<option value= "Pedregal de San Francisco" >Pedregal de San Francisco</option>
<option value= "Plutarco Elias Calles" >Plutarco Elias Calles</option>
<option value= "Pri" >Pri</option>
<option value= "Privada Colonial" >Privada Colonial</option>
<option value= "Reforma la Presa" >Reforma la Presa</option>
<option value= "Rincon Colonial" >Rincon Colonial</option>
<option value= "Roberto Tello" >Roberto Tello</option>
<option value= "Rojo Gomez" >Rojo Gomez</option>
<option value= "San Isidro" >San Isidro</option>
<option value= "San Antonio Farias" >San Antonio Farias</option>
<option value= "San Juan" >San Juan</option>
<option value= "San Luis" >San Luis</option>
<option value= "Santa Ana" >Santa Ana</option>
<option value= "San Rafael" >San Rafael</option>
<option value= "San Nicolas el Chico" >San Nicolas el Chico</option>
<option value= "Santa Clemencia" >Santa Clemencia</option>
<option value= "Santa Maria el Chico" >Santa Maria el Chico</option>
<option value= "Santa Teresa" >Santa Teresa</option>
<option value= "Santiago Caltenco" >Santiago Caltenco</option>
<option value= "Temascaltitla" >Temascaltitla</option>
<option value= "Tepeyac" >Tepeyac</option>
<option value= "Tollancingo" >Tollancingo</option>
<option value= "Tulancingo Centro" >Tulancingo Centro</option>
<option value= "Unidad Minera Secc 200" >Unidad Minera Secc 200</option>
<option value= "Unidad Deportiva" >Unidad Deportiva</option>
<option value= "Valle Sol" >Valle Sol</option>
<option value= "Vicente Guerrero" >Vicente Guerrero</option>
<option value= "Valle Verde" >Valle Verde</option>
<option value= "Zapotlan de Allende" >Zapotlan de Allende</option>
                        
                    </select></span><br/>
                   <span id="fecha_form">Fecha: 
                   <input type="text" id="txtfecha" name="Reporte[fecha]"  value="" required readonly="readonly" />
                   </span><br>
                    <br><span id="deta">Detalles:<br><textarea id="detalles_area" name="Reporte[detalles]" >
                        </textarea></span><br>
                    <center><input type="submit" id="env" value="Reportar" name="report"/> </center>
                     <input type="text" name="Reporte[latitud]"  id="unolat" readonly="readonly" style="visibility:hidden"/>                 
                   <input type="text" name="Reporte[longitud]"  id="unolong" readonly="readonly" style="visibility:hidden"/><br>
                </form>
            </div>
                         <div  id="mapa">
                  <!-- Mensaje de estado -->

    <div id="message"></div>

    <!-- Ubicación a georreferenciarse -->

    <br><br><label for="location" id="ubi">Ubicación:</label>
    <input type="text" id="location" name="location" value="" size="40" placeholder="Ejemplo: Parque el caracol Tulancingo" />

    <!-- Botón para inciar la georreferenciación -->

    <input type="button" id="search" name="search" value="Buscar" />
            <div id="map"></div>
         </div>
     </div>
        </div>
    </div>
</body>
    <div id="pie">
<footer>
    <table style="width:100%">
  <tr>
  <td width="400">Desarolladores:<br>Martha Gabriela Rodriguez García<br>María Elvia Cerón Maldonado<br>Ana Karen Cerón Fernández
  <br>Marytere Vargas Acosta<br>Armando Pérez Moreno</td>
  <td><center><img src="/images/logo3.png" style="width: 35px;height: 35px;"> <br><strong>SPLAT</strong> Tulancingo<br><br><a href="https://www.facebook.com/splatulancingo"><img src="/images/facebook.png" style="width: 15px;height: 25px;"></a>
      <a href="https://twitter.com/splatulancingo"><img src="/images/tweet.png"style="width: 35px;height: 25px;margin-left:10px;"></a>
  <br><br>SPLAT - Tulancingo © 2016</center></td>
  <td width="400"><center><strong><img src="/images/reportes.png" style=" width: 30px;height: 30px;"><br><br>Camino a Ahuehuetitla 301,<br>Reforma la Presa, 43642 Tulancingo, Hgo.</strong><br><br></center></td>
  </tr>
</table>
</footer>
</div>